

body{
    
    background-color: rgb(164, 164, 164);
}
.dropdown-center{
    margin-left: 88.3%;
}
nav{
    padding: 100%;
}
.material-symbols-outlined{
    color: white;
    
}
/* nav{
    width: 100%;
} */
.container{
    margin-top: 3vh;
    height: 100vh;
    width: max-content;
    /* background-color: green; */
    
}
.row{
    /* margin-top: 100px; */
    /* background-color: blue; */
    height: fit-content;
    /* width: fit-content; */
}

.col-sm{
    box-shadow: 5px 5px 10px 3px rgb(159, 151, 151);
    margin: 10px;
    
    background-color: red;
    /* border: 2px solid black; */
    height: fit-content;
    width: max-content;
    border-radius: 7px;
}
.right-left{
    margin-bottom: 20%;
    padding-top: 10%;
    height: fit-content;
    width: 100%;
    /* border: 5px solid green; */

}
.up-down{
    margin-left: 0;
    padding: 0;
    font-size: xx-large;
    font-family: sans-serif;
    color: white;
    display: inline-block;
    /* border: 5px solid green; */
}
.icon{
    margin: 0;
    padding: 0;
    display: inline;
    height: auto;
    width: max-content;
}
.up{
    text-align: left;
    /* border: 5px solid green; */

}
.down{
    font-size: 50%;
}

/* .down{
    border: 5px solid green;

} */

.bottom3rl{
    margin-bottom:13% ;
}
  
  @media only screen and (max-width: 800px) {
    .dropdown-center{
        font-size: small;
        margin-left: 45vw;
    }
    .container{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10vh;
        height: fit-content;
        width: fit-content;
        /* background-color: green; */
        padding-left: 5px;
    }
    .row{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding-left: 50px;
        /* background-color: blue; */
        height: fit-content;
        width:100%;
    }
    
    .col-sm{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 60px;
        /* padding: 5px; */
        /* margin-left: 50px; */
        /* background-color: red; */
        /* border: 2px solid black; */
        height: fit-content;
        width: fit-content;
        height: fit-content;
        padding: 0;
    }

    .row{
        /* margin-top: 100px; */
        /* background-color: blue; */
        height: fit-content;
        /* width: fit-content; */
    }
    
    .right-left{
        margin: 0;
        padding: 0;
        height: 150px;
        width: 100%;
        /* border: 5px solid green; */
    }

    .up-down{
        margin: 20px;
        padding: 0;
        font-size: 40px;
        font-family: sans-serif;
        color: white;
        display: inline-block;
        /* border: 5px solid green; */
    }
    .icon{
        margin: 0;
        padding: 0;
        display: inline;
        height: auto;
        width: max-content;
    }
    .up{
        text-align: left;
        /* border: 5px solid green; */
    
    }
    .material-symbols-outlined{
        color: white;
    }
    .right-left.top2rl{
        font-weight: bold;
        /* margin-bottom: 15%; */
        /* border: 2px solid black; */

    }
    .right-left.bottom3rl{
        font-weight: bold;
        margin-bottom: 0px;
        /* border: 2px solid black; */

    }
    .dropdown-center{
        
        margin-left: 60%;

    }
    .btn.btn-secondary.dropdown-toggle{
        font-size: 20px;
    }
    .dropdown-menu{
        border: 2px solid black;
        height: fit-content;
        margin: 0px;
        padding: 0px;
        
    }
    
    a.dropdown-item{
        border: 2px solid black;
        
        padding: 0px;
        margin: 0px;
    }
   
    .top2rl{
        padding: 5%;
    }
    .bottom3rl{
        padding: 0%;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
  }